#board{
    border : 4px solid black;
    background-color : #e28585;
}


.red{
    border-radius : 20px !important;
    background-color : transparent !important;
}

.purple{
    background-color : #5c3566 !important;
}

.green{    
    background-color : #ad7fa8;
}

.tile{
    transition-timing-function : ease-in;
    position : absolute;
    width : 40px;
    height : 40px;
    border-radius : 5px;
}

.hidden{
    display : none;
}

.show{
    position : absolute;
    font-family : sans-serif;
    background-color : transparent;
    font-size : 5em;
}

#compteur{
    font-family : sans-serif;
    font-weight : bold;
    font-size : 2em;
}
